/* .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 2rem;
}

.footer__copyright {
  margin-right: 1rem;
}

.footer__links {
  display: flex;
}

.footer__link-item {
  margin-left: 1rem;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #555;
} */
/* Footer.css */
.footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: #fff; /* White background */
  color: #000; /* Black text color */
  padding: .25rem;
  text-align: center; /* Center text content */
}

.footer__copyright {
  margin-bottom: .25rem; /* Add some space at the bottom */
}

.footer__links {
  display: flex;
  justify-content: center; /* Center links horizontally */
  align-items: center; /* Vertically align links */
  margin-top: .25rem; /* Add some space at the top */
}

.footer__link-item {
  margin: 1rem; /* Adjust spacing between links */
  text-decoration: none;
  font-size: 1rem;
}


.footer__link:hover {
  color: #555;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .footer {
    padding: 1rem;
  }

  .footer__links {
    flex-direction: column; /* Stack links vertically on smaller screens */
    margin-top: 1rem;
  }

  .footer__link-item {
    margin: 0.25rem;
  }
}
